.header {
  background-color: #1eb795;
  color: #f4f7f6;
  font-size: 30px;
  font-family:Trebuchet MS;
  height : 75px;
  padding-left: 35px;
  padding-top: 25px;
}

.task-card {
    color: grey;
    height: 125px;
    display: inline-block;
    margin: 30px 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(218,218,227,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(218,218,227,1);
    box-shadow: 0px 0px 5px 0px rgba(218,218,227,1);
    cursor: pointer;
}
.task-card:hover{
  border: green solid 1px;
}

.task-card-header {
    color: #6a6a71;
    font-size: 20px;
    margin-bottom: 5px;
}

.task-card.footer{
  color: #909095;
}

.task-card-body {
    font-size: 12px;
    color: #cbcbd0;
}
