.header {
  background-color: #1eb795;
  color: #f4f7f6;
  font-size: 30px;
  font-family:Trebuchet MS;
  height : 75px;
  padding-left: 35px;
  padding-top: 25px;
}

.task-card {
    color: grey;
    height: 130px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(218,218,227,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(218,218,227,1);
    box-shadow: 0px 0px 5px 0px rgba(218,218,227,1);
    cursor: pointer;
}
.task-card-inner-element{
  padding: 30px 20px;
}
.task-card:hover{
  border: #1EB795 solid 1px;
}

.task-card-header {
    color: #6a6a71;
    font-size: 20px;
}

.task-card.footer{
  color: #909095;
}

.task-card-body {
    font-size: 12px;
    color: #cbcbd0;
    padding: 5px;
    height: 55px;
}

.add-task-card:hover{
  color:  #1EB795;
}
.add-task-card-icon {
  position: absolute;
  top: 50%;
  left: 49%;
}

.add-task-card-description{
  position: absolute;
  left : 32%;
  top: 25%;
}

.new-task{
  visibility: hidden
}

.pop-up-card{
  color: grey;
  height: 350px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(218,218,227,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(218,218,227,1);
  box-shadow: 0px 0px 5px 0px rgba(218,218,227,1);
}

.pop-up-card-field {
  padding: 10px;
}

.pop-up-card-button{
  font-weight: bold;
  align-self: auto;
  margin :10px;
  border: 1.5px solid #a1a1a1;
  padding: 1.5px 53px 6px 12px;
  width: 50px;
  border-radius: 25px;
  cursor: pointer;
  color: #a1a1a1
}
